/* Main Color: #63e6be */
/* Comple Color: #63e6be */
/* Text Color: #59cfab */
/* Section Color: #59cfab */
/* Background Color: #26378b */

html {
  font-size: 62.5%;
}

body{
  font-size: 1.8rem;
  background-color: #222; 
  color: #63e6be;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  margin: 0rem;
}

img{
  width: 50rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.section{
  margin-bottom: 12.8rem;
}

.top-part{
  
  position: relative;
  
  background-image: linear-gradient(
    rgba(34, 34, 34, 0.8),
    rgba(34, 34, 34, 0.8)
  ),
  url(images/hero-background.avif);
  background-size: cover;
}

.lang-select{
  text-align: center;
  vertical-align: middle
}

.header{
  background-color: #5555;
  padding: 0.4rem;
}

.nav{
  display: flex;
  justify-content: space-around;
}

.nav-name{
  margin-right: auto;
  display: inline-block;
  padding: 1.6rem 2.4rem;
  font-weight: bold;
}

.nav div{
  font-size: 1.6rem;
}

.nav-btn:link,
.nav-btn:visited {
  display: inline-block;
  padding: 1.2rem 1.6rem;
  margin: 0.4rem 0.8rem;
  text-decoration: none;
  color: #63e6be;
  transition: all 0.2s;
}

.nav-btn:hover,
.nav-btn:active {
  display: inline-block;
  padding: 1.2rem 1.6rem;
  margin: 0.4rem 0.8rem;
  text-decoration: none;
  background-color: #00000077;
  border-radius: 1000px;
  transition: all 0.2s;
}

.section-title{
  font-size: 2.4rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
  color: #aaa;
}

.section-hero{
  height: 85vh;
}

.hero-text-field{
  margin: 0rem auto;
  text-align: center;
  padding: 12.8rem 0;
}

.hero-title{
  font-size: 8.0rem;
  font-weight: 600;
  padding: 9.6rem 0;
  margin: 0;
}

.hero-presentation{
  font-size: 2.4rem;
  line-height: 1.5;
  color: #ddd;
  font-family: "Ubuntu Mono", sans-serif;
}

.typewriter-wrap{
  max-width: 85rem;
  margin: auto;
  /* display: block; */
  /* display: flex; */
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .2rem solid #e67963; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15rem; /* Adjust as needed */
  animation: 
    typing 2.5s steps(50, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e67963; }
}

.grid-skills{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
  row-gap: 3.2rem;
}

.skill-box{
  background-color: #111;
  display: flex;
}

.skill-title{
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.8rem;
  margin: 0;
  flex: 1;
}

.skill-bar-flex{
  display: flex;
  justify-content: left;

  flex: 4;
}

.skill-bar{
  margin: 0;
  padding: 0;
  width: auto;
}

.skill-bar--main{
  background-color: #59cfab;
  transition: all 1.0s ease-in-out;
}

.skill-bar--main--100{
  width: 100%;
}
.skill-bar--main--75{
  width: 75%;
}
.skill-bar--main--67{
  width: 67%;
}
.skill-bar--main--50{
  width: 50%;
}
.skill-bar--main--33{
  width: 33%;
}
.skill-bar--main--25{
  width: 25%;
}
.skill-bar--main--0{
  width: 0%;
}

.skill-bar--background{
  background-color: #0a1713;
  flex: 1;
}

.showcase{
  background-color: #111; 
  display: flex;
  margin-bottom: 8.0rem;
}

.description{
  padding: 3.2rem 3.2rem;
  line-height: 1.5;
}

.description-title{
  font-weight: 500;
  font-size: 4.8rem;
  margin: 2.4rem 0 3.2rem 0;
}

.description-text{
  font-size: 1.8rem;
  color: #59cfab;
}

.preview-and-tags{
  background-color: #333;
  padding: 0rem;
  display: flex;
  flex-direction: column;
}

.preview-frame{
  position: relative;
  min-width: 50rem;
  /* min-height: 26rem; */
  /* height: 56.25%; */
  padding-top: 56.25%;
  width: 100%;
}

.preview{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.flex-first{
  order: -1;
}

.tags{
  padding-left: 1.2rem;
  padding-top: 0.8rem;
  padding-bottom: 3.2rem;
}

.tag{
  color: #111;
  display: inline-block;
  background-color: aqua;
  padding: 0.6rem 1.2rem;
  border-radius: 100rem;
  font-size: 1.8rem;
  margin: 0.4rem 0;
  margin-right: 0.8rem;
}


.tag-language{
  background-color: aqua;
}

.tag-software{
  background-color: magenta;
}

.tag-tech{
  background-color:chartreuse;
}

.related{
  margin-top: auto;
  background-color: #292929;
  
  padding: 1.6rem 1.2rem;
}

.related a:link,
.related a:visited,
.related a:hover,
.related a:active{
  color: #ccc;
  text-decoration: underline;
  display: inline-block;
  padding: 0.4rem 0;
}

.footer{
  background-color: #333;
  margin-top: 12.8rem;
  padding: 0.8rem 0 4.8rem 0;

  font-size: 1.6rem;
}

.footer-contacts{

  display: flex;
  justify-content: right;
  gap: 3.2rem;
  
  color: #999;
}

.footer-contacts a:link,
.footer-contacts a:visited {
  display: inline-block;
  padding: 1.6rem 0;
  text-decoration: underline;
  color: #999;
}

.footer-contacts a:hover,
.footer-contacts a:active {
  display: inline-block;
  padding: 1.6rem 0;
  text-decoration: underline;
  color: #999;
}

/* Media */


/* 1100 */
@media (max-width: 69rem) {
  .description-title{
    font-size: 3.2rem;
    margin: 0;
  }
  .skill-title{
    font-size: 1.2rem;
  }
  .container{
    max-width: 90rem;
  }
  .hero-title{
    font-size: 6.4rem;
  }
  .preview-frame{
    position: relative;
    min-width: 40rem;
  }
}

/* 1000 */
@media (max-width: 63rem) {
  .description-title{
    font-size: 2.4rem;
  }
}

/* 900 */
@media (max-width: 56rem) {
  .showcase{
    flex-direction: column;
    max-width: 65rem;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .grid-skills{
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
    padding: 0.4rem;
  }
  .container{
    max-width: 65rem;
  }
  .hero-title{
    font-size: 4.8rem;
    padding: 4.8rem 0;
  }
  .hero-presentation{
    font-size: 1.6rem;
  }
  .description-text{
    font-size: 1.6rem;
  }
  .section {
    margin-bottom: 3.2rem;
  }
  .footer{
    margin-top: 3.2rem;
  }
  .preview-and-tags{
    order: -1;
  }
  .related{
    margin-top: auto;
    background-color: #333;
    padding: 0.8rem 1.2rem;
  }
  .tags{
    padding-bottom: 0;
  }
  .typewriter-wrap{
    max-width: 60rem;
  }
  .section-hero{
    height: 55vh;
  }
}

/* 650 */
@media (max-width: 41rem) {
  .nav{
    flex-direction: column;
    align-items: center;
  }
  .nav-name{
    margin: 0;
  }
  .section-hero {
    height: 35vh;
  }
  .hero-text-field {
    padding: 0;
  }
  .hero-title{
    font-size: 3.2rem;
  }
  .hero-presentation{
    font-size: 1.2rem;
  }
  .footer-contacts{
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .footer-link{
    margin: 0;
  }
  .section-title{
    text-align: center;
    display: block;
  }
  .typewriter-wrap{
    max-width: 50rem;
  }
}

/* 550 */

@media (max-width: 35rem) {
  .preview-frame{
    position: relative;
    min-width: 32rem;
  }
  .typewriter{
    white-space: inherit;
    animation: none;
  }
}

/* 450 */
@media (max-width: 35rem) {
  .skill-title{
    flex: 1.5;
    padding: 0.4rem;
  }
  .description {
    padding: 1.6rem;
  }
}